* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgb(39, 39, 255);
}

img {
  max-width: 100%;
  display: block;
}

button, input {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    color: white;
}

.timer {
    font-size: 200px;
}

.btns {
    font-size: 50px;
}

.btn {
    border: 1px solid white;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.btn:active {
    background-color: #fff;
    color: black;
}

@media (max-width: 375px) {
  .timer {
    font-size: 125px;
}

.btns {
    font-size: 20px;
}
}